@media screen {
	div.flex-container {
		display: flex;
		flex-wrap: wrap;
		margin: 26px 10px 10px 0;
		
	}

	div.qvobject {
		flex: 1 1 auto;
		height: 450px;
		min-width: 350px;
		margin: 5px 0 0 5px;
		border: 1px solid silver;
	}

	div.qvobjectfp {
		flex: 1 1 auto;
		height: 40px;
		min-width: 100px;
		margin: 2px 0 0 2px;
	}
		
	.qv-global-selections.sub-bar-present {
		top: 245px !important;
	}
	
	#flc0 {
		margin-top: 6px !important;
	}
	
	#QV00{
	 border:1px solid silver;
	}
	
}

div.qvobject {
    margin: 0px 0 0 15px !important;
}

.flex-container {
     margin-top:10px !important;
}